@font-face {
    font-family: "SbsSlim";
    src: url("/SbsSlim.woff2") format("woff2"),
         url("/SbsSlim.woff") format("woff"),
         url("/SbsSlim.ttf") format("truetype"),
         url("/SbsSlim.otf") format("opentype");
    }

pre > code {
    font-family: "SbsSlim", monospace;
}

.common {
    color: #333;
    position: relative;
    margin: 1em auto 1em auto;
    padding: 20px;
    font-size: 30px;
    background: var(--clay-background,rgba(0,0,0,.005));
    border-radius: 18px;
    box-shadow: var(--clay-shadow-outset,8px 8px 16px 0 rgba(0,0,0,.25)),inset var(--clay-shadow-inset-primary,-8px -8px 16px 0 rgba(0,0,0,.25)),inset var(--clay-shadow-inset-secondary,8px 8px 16px 0 hsla(0,0%,100%,.2));
}
.card  {
    height: 100%;
    background: var(--clay-background,rgba(0,0,0,.005));
    border-radius: var(--clay-border-radius,32px);
    box-shadow: var(--clay-shadow-outset,8px 8px 16px 0 rgba(0,0,0,.25)),inset var(--clay-shadow-inset-primary,-8px -8px 16px 0 rgba(0,0,0,.25)),inset var(--clay-shadow-inset-secondary,8px 8px 16px 0 hsla(0,0%,100%,.2));
}

.card-header:first-child {
    border-radius: var(--clay-border-radius,36px) var(--clay-border-radius,36px) 0 0;
}

.example {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-family: "SbsSlim", monospace;
}

p {
    font-family: "SbsSlim", monospace;
}

div {
    font-family: "SbsSlim", monospace;
}
